# Python
__pycache__/
*.py[cod]
*.egg-info/
.python-version
.venv/
venv/
ENV/

# Build and test output
build/
dist/
**/bin/
**/obj/
.coverage
htmlcov/
.pytest_cache/

# IDE and OS files
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
